.image-container {
    margin-bottom: 20px;
  }
  
  .shopping-image {
    max-width: 50%;
    height: 50;
    border-radius: 8px;
    
  }
  
  .button-section {
    text-align: center;
    margin-top: 20px;
  }
  
  .button-section input[type="button"] {
    margin: 10px;
    padding: 10px 20px;
    background-color: lightseagreen;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-section input[type="button"]:hover {
    background-color: #45a049;
  }
  