<h1 style="text-align: center;">Welcome to Online Shopping App</h1>

<div style="text-align: center;">
  <a [routerLink]="['home']">Home</a> &nbsp;&nbsp;
  <!-- <a [routerLink]="['login']">Login</a> &nbsp;&nbsp;
  <a [routerLink]="['customer']">Customer</a> &nbsp;&nbsp;
  <a [routerLink]="['contact']">Contact</a> &nbsp;&nbsp; 
  <a [routerLink]="['crossfield']">Crossfield</a> &nbsp;&nbsp; 
  <a [routerLink]="['formarray']">DynamicFromArray</a> &nbsp;&nbsp;   -->
 </div>  

<!-- <div [@fadeAnimation] = "o.isActivated ? o.activatedRoute :''">
  <router-outlet #o="outlet"></router-outlet>
</div> -->
<router-outlet></router-outlet>
<footer>
  <div style="text-align: center;">
    ~ Palak
  </div>
</footer> 

<!-- <app-product></app-product>
<app-customer></app-customer>
<app-cart></app-cart> -->